{% set date_base_class = date_base_class|default('date') %}

<div {{ bem(date_base_class, date_modifiers, date_blockname) }}>
  <span {{ bem('month', [], date_base_class) }}>
    {{ date_month }}
  </span>
  <span {{ bem('day', [], date_base_class) }}>
    {{ date_day }}
  </span>
</div>
